body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("logos/Captura\ de\ tela\ 2025-02-05\ 092711.png");
    background-repeat: no-repeat;
    background-position: center top;;
 
   
} 
 
.texto1{
   
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    left: 40%;
    background-color: lightskyblue;
    color: white;
   text-align: center;
   padding-top: 2px ;
   padding-bottom: 2px;

     
}
.button2{
    position: absolute;
    top: 130px;

}
.tituloLista{

position: relative;
margin-top: 120px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul{
    position: relative;
}
.button1{
    border-radius: 7px;
    border: none;
    padding: 3px;
    color: rgb(0, 0, 0);
    background-color: rgb(11, 182, 229);
    font-size: 15px;
    cursor: pointer;
}
.button1:hover{
    background-color: blue;
    color:white
}

nav{
    
  
    background-color: rgb(106, 169, 208);

    
}
.content{
    margin-left: 100px;
    text-decoration: none;
    color: white;
   

}

span{
    font-size: 15px;
   
}

#filebutton{
    background-color: rgb(246, 246, 246);
}
#uploadForm{
color: aqua;
}





        
        
    

